

<!-- Start: @icon-set--default -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-add-to-playlist"></use>
</svg>
<!-- End: @icon-set--default -->

<!-- Start: @icon-set--additional-packages -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-additional-packages"></use>
</svg>
<!-- End: @icon-set--additional-packages -->

<!-- Start: @icon-set--airplay -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-airplay"></use>
</svg>
<!-- End: @icon-set--airplay -->

<!-- Start: @icon-set--album -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-album"></use>
</svg>
<!-- End: @icon-set--album -->

<!-- Start: @icon-set--archive -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-archive"></use>
</svg>
<!-- End: @icon-set--archive -->

<!-- Start: @icon-set--arrow-left -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-arrow-left"></use>
</svg>
<!-- End: @icon-set--arrow-left -->

<!-- Start: @icon-set--arrow-right -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-arrow-right"></use>
</svg>
<!-- End: @icon-set--arrow-right -->

<!-- Start: @icon-set--artist-radio -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-artist-radio"></use>
</svg>
<!-- End: @icon-set--artist-radio -->

<!-- Start: @icon-set--artist -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-artist"></use>
</svg>
<!-- End: @icon-set--artist -->

<!-- Start: @icon-set--back-10seconds -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-back-10seconds"></use>
</svg>
<!-- End: @icon-set--back-10seconds -->

<!-- Start: @icon-set--back-left -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-back-left"></use>
</svg>
<!-- End: @icon-set--back-left -->

<!-- Start: @icon-set--back-to-live -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-back-to-live"></use>
</svg>
<!-- End: @icon-set--back-to-live -->

<!-- Start: @icon-set--bill -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-bill"></use>
</svg>
<!-- End: @icon-set--bill -->

<!-- Start: @icon-set--bluetooth -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-bluetooth"></use>
</svg>
<!-- End: @icon-set--bluetooth -->

<!-- Start: @icon-set--broadband -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-broadband"></use>
</svg>
<!-- End: @icon-set--broadband -->

<!-- Start: @icon-set--browse -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-browse"></use>
</svg>
<!-- End: @icon-set--browse -->

<!-- Start: @icon-set--calendar -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-calendar"></use>
</svg>
<!-- End: @icon-set--calendar -->

<!-- Start: @icon-set--camera -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-camera"></use>
</svg>
<!-- End: @icon-set--camera -->

<!-- Start: @icon-set--campaigns -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-campaigns"></use>
</svg>
<!-- End: @icon-set--campaigns -->

<!-- Start: @icon-set--channels -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-channels"></use>
</svg>
<!-- End: @icon-set--channels -->

<!-- Start: @icon-set--checkmark -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-checkmark"></use>
</svg>
<!-- End: @icon-set--checkmark -->

<!-- Start: @icon-set--children -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-children"></use>
</svg>
<!-- End: @icon-set--children -->

<!-- Start: @icon-set--chromecast -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-chromecast"></use>
</svg>
<!-- End: @icon-set--chromecast -->

<!-- Start: @icon-set--close -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-close"></use>
</svg>
<!-- End: @icon-set--close -->

<!-- Start: @icon-set--connection-fail -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-connection-fail"></use>
</svg>
<!-- End: @icon-set--connection-fail -->

<!-- Start: @icon-set--consumption -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-consumption"></use>
</svg>
<!-- End: @icon-set--consumption -->

<!-- Start: @icon-set--contact -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-contact"></use>
</svg>
<!-- End: @icon-set--contact -->

<!-- Start: @icon-set--couple -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-couple"></use>
</svg>
<!-- End: @icon-set--couple -->

<!-- Start: @icon-set--data -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-data"></use>
</svg>
<!-- End: @icon-set--data -->

<!-- Start: @icon-set--delete-locked -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-delete-locked"></use>
</svg>
<!-- End: @icon-set--delete-locked -->

<!-- Start: @icon-set--delete -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-delete"></use>
</svg>
<!-- End: @icon-set--delete -->

<!-- Start: @icon-set--download -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-download"></use>
</svg>
<!-- End: @icon-set--download -->

<!-- Start: @icon-set--drag -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-drag"></use>
</svg>
<!-- End: @icon-set--drag -->

<!-- Start: @icon-set--edit -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-edit"></use>
</svg>
<!-- End: @icon-set--edit -->

<!-- Start: @icon-set--family -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-family"></use>
</svg>
<!-- End: @icon-set--family -->

<!-- Start: @icon-set--fast-forward -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-fast-forward"></use>
</svg>
<!-- End: @icon-set--fast-forward -->

<!-- Start: @icon-set--fast-forward2 -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-fast-forward2"></use>
</svg>
<!-- End: @icon-set--fast-forward2 -->

<!-- Start: @icon-set--favorite-channels -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-favorite-channels"></use>
</svg>
<!-- End: @icon-set--favorite-channels -->

<!-- Start: @icon-set--favorites -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-favorites"></use>
</svg>
<!-- End: @icon-set--favorites -->

<!-- Start: @icon-set--filters -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-filters"></use>
</svg>
<!-- End: @icon-set--filters -->

<!-- Start: @icon-set--forum -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-forum"></use>
</svg>
<!-- End: @icon-set--forum -->

<!-- Start: @icon-set--forward-30seconds -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-forward-30seconds"></use>
</svg>
<!-- End: @icon-set--forward-30seconds -->

<!-- Start: @icon-set--forward-right -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-forward-right"></use>
</svg>
<!-- End: @icon-set--forward-right -->

<!-- Start: @icon-set--gaming -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-gaming"></use>
</svg>
<!-- End: @icon-set--gaming -->

<!-- Start: @icon-set--genre -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-genre"></use>
</svg>
<!-- End: @icon-set--genre -->

<!-- Start: @icon-set--hdmi -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-hdmi"></use>
</svg>
<!-- End: @icon-set--hdmi -->

<!-- Start: @icon-set--help -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-help"></use>
</svg>
<!-- End: @icon-set--help -->

<!-- Start: @icon-set--hitlist -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-hitlist"></use>
</svg>
<!-- End: @icon-set--hitlist -->

<!-- Start: @icon-set--home -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-home"></use>
</svg>
<!-- End: @icon-set--home -->

<!-- Start: @icon-set--humax -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-humax"></use>
</svg>
<!-- End: @icon-set--humax -->

<!-- Start: @icon-set--info -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-info"></use>
</svg>
<!-- End: @icon-set--info -->

<!-- Start: @icon-set--landline -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-landline"></use>
</svg>
<!-- End: @icon-set--landline -->

<!-- Start: @icon-set--link -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-link"></use>
</svg>
<!-- End: @icon-set--link -->

<!-- Start: @icon-set--list -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-list"></use>
</svg>
<!-- End: @icon-set--list -->

<!-- Start: @icon-set--live-radio -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-live-radio"></use>
</svg>
<!-- End: @icon-set--live-radio -->

<!-- Start: @icon-set--live-tv -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-live-tv"></use>
</svg>
<!-- End: @icon-set--live-tv -->

<!-- Start: @icon-set--location -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-location"></use>
</svg>
<!-- End: @icon-set--location -->

<!-- Start: @icon-set--lock -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-lock"></use>
</svg>
<!-- End: @icon-set--lock -->

<!-- Start: @icon-set--mail -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-mail"></use>
</svg>
<!-- End: @icon-set--mail -->

<!-- Start: @icon-set--maximize -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-maximize"></use>
</svg>
<!-- End: @icon-set--maximize -->

<!-- Start: @icon-set--minimize -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-minimize"></use>
</svg>
<!-- End: @icon-set--minimize -->

<!-- Start: @icon-set--mix-package -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-mix-package"></use>
</svg>
<!-- End: @icon-set--mix-package -->

<!-- Start: @icon-set--mobile-broadband -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-mobile-broadband"></use>
</svg>
<!-- End: @icon-set--mobile-broadband -->

<!-- Start: @icon-set--mobile-router-2 -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-mobile-router-2"></use>
</svg>
<!-- End: @icon-set--mobile-router-2 -->

<!-- Start: @icon-set--mobile-router -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-mobile-router"></use>
</svg>
<!-- End: @icon-set--mobile-router -->

<!-- Start: @icon-set--mobile-subscriptions -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-mobile-subscriptions"></use>
</svg>
<!-- End: @icon-set--mobile-subscriptions -->

<!-- Start: @icon-set--mobile -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-mobile"></use>
</svg>
<!-- End: @icon-set--mobile -->

<!-- Start: @icon-set--more-options -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-more-options"></use>
</svg>
<!-- End: @icon-set--more-options -->

<!-- Start: @icon-set--most-played -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-most-played"></use>
</svg>
<!-- End: @icon-set--most-played -->

<!-- Start: @icon-set--movies -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-movies"></use>
</svg>
<!-- End: @icon-set--movies -->

<!-- Start: @icon-set--mstv -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-mstv"></use>
</svg>
<!-- End: @icon-set--mstv -->

<!-- Start: @icon-set--music -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-music"></use>
</svg>
<!-- End: @icon-set--music -->

<!-- Start: @icon-set--mute -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-mute"></use>
</svg>
<!-- End: @icon-set--mute -->

<!-- Start: @icon-set--news -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-news"></use>
</svg>
<!-- End: @icon-set--news -->

<!-- Start: @icon-set--next -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-next"></use>
</svg>
<!-- End: @icon-set--next -->

<!-- Start: @icon-set--notifications -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-notifications"></use>
</svg>
<!-- End: @icon-set--notifications -->

<!-- Start: @icon-set--on -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-on"></use>
</svg>
<!-- End: @icon-set--on -->

<!-- Start: @icon-set--operating-status -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-operating-status"></use>
</svg>
<!-- End: @icon-set--operating-status -->

<!-- Start: @icon-set--orientation-lock -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-orientation-lock"></use>
</svg>
<!-- End: @icon-set--orientation-lock -->

<!-- Start: @icon-set--outage-warning -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-outage-warning"></use>
</svg>
<!-- End: @icon-set--outage-warning -->

<!-- Start: @icon-set--parental-lock -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-parental-lock"></use>
</svg>
<!-- End: @icon-set--parental-lock -->

<!-- Start: @icon-set--pause -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-pause"></use>
</svg>
<!-- End: @icon-set--pause -->

<!-- Start: @icon-set--pause2 -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-pause2"></use>
</svg>
<!-- End: @icon-set--pause2 -->

<!-- Start: @icon-set--payment-card -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-payment-card"></use>
</svg>
<!-- End: @icon-set--payment-card -->

<!-- Start: @icon-set--person -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-person"></use>
</svg>
<!-- End: @icon-set--person -->

<!-- Start: @icon-set--personal-help -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-personal-help"></use>
</svg>
<!-- End: @icon-set--personal-help -->

<!-- Start: @icon-set--picture-in-picture -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-picture-in-picture"></use>
</svg>
<!-- End: @icon-set--picture-in-picture -->

<!-- Start: @icon-set--pin-active -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-pin-active"></use>
</svg>
<!-- End: @icon-set--pin-active -->

<!-- Start: @icon-set--pin-inactive -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-pin-inactive"></use>
</svg>
<!-- End: @icon-set--pin-inactive -->

<!-- Start: @icon-set--play -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-play"></use>
</svg>
<!-- End: @icon-set--play -->

<!-- Start: @icon-set--play2 -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-play2"></use>
</svg>
<!-- End: @icon-set--play2 -->

<!-- Start: @icon-set--playlist -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-playlist"></use>
</svg>
<!-- End: @icon-set--playlist -->

<!-- Start: @icon-set--plus -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-plus"></use>
</svg>
<!-- End: @icon-set--plus -->

<!-- Start: @icon-set--power -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-power"></use>
</svg>
<!-- End: @icon-set--power -->

<!-- Start: @icon-set--preview -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-preview"></use>
</svg>
<!-- End: @icon-set--preview -->

<!-- Start: @icon-set--print -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-print"></use>
</svg>
<!-- End: @icon-set--print -->

<!-- Start: @icon-set--profile -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-profile"></use>
</svg>
<!-- End: @icon-set--profile -->

<!-- Start: @icon-set--recent-playlist -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-recent-playlist"></use>
</svg>
<!-- End: @icon-set--recent-playlist -->

<!-- Start: @icon-set--recently-added -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-recently-added"></use>
</svg>
<!-- End: @icon-set--recently-added -->

<!-- Start: @icon-set--record -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-record"></use>
</svg>
<!-- End: @icon-set--record -->

<!-- Start: @icon-set--record2 -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-record2"></use>
</svg>
<!-- End: @icon-set--record2 -->

<!-- Start: @icon-set--remove -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-remove"></use>
</svg>
<!-- End: @icon-set--remove -->

<!-- Start: @icon-set--rental-lock -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-rental-lock"></use>
</svg>
<!-- End: @icon-set--rental-lock -->

<!-- Start: @icon-set--repeat -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-repeat"></use>
</svg>
<!-- End: @icon-set--repeat -->

<!-- Start: @icon-set--restart-box -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-restart-box"></use>
</svg>
<!-- End: @icon-set--restart-box -->

<!-- Start: @icon-set--rewind -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-rewind"></use>
</svg>
<!-- End: @icon-set--rewind -->

<!-- Start: @icon-set--rewind2 -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-rewind2"></use>
</svg>
<!-- End: @icon-set--rewind2 -->

<!-- Start: @icon-set--router -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-router"></use>
</svg>
<!-- End: @icon-set--router -->

<!-- Start: @icon-set--screen-size -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-screen-size"></use>
</svg>
<!-- End: @icon-set--screen-size -->

<!-- Start: @icon-set--search -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-search"></use>
</svg>
<!-- End: @icon-set--search -->

<!-- Start: @icon-set--security -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-security"></use>
</svg>
<!-- End: @icon-set--security -->

<!-- Start: @icon-set--series-records -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-series-records"></use>
</svg>
<!-- End: @icon-set--series-records -->

<!-- Start: @icon-set--series -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-series"></use>
</svg>
<!-- End: @icon-set--series -->

<!-- Start: @icon-set--settings -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-settings"></use>
</svg>
<!-- End: @icon-set--settings -->

<!-- Start: @icon-set--share -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-share"></use>
</svg>
<!-- End: @icon-set--share -->

<!-- Start: @icon-set--shuffle -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-shuffle"></use>
</svg>
<!-- End: @icon-set--shuffle -->

<!-- Start: @icon-set--simcard -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-simcard"></use>
</svg>
<!-- End: @icon-set--simcard -->

<!-- Start: @icon-set--smart-home -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-smart-home"></use>
</svg>
<!-- End: @icon-set--smart-home -->

<!-- Start: @icon-set--sms -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-sms"></use>
</svg>
<!-- End: @icon-set--sms -->

<!-- Start: @icon-set--song-radio -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-song-radio"></use>
</svg>
<!-- End: @icon-set--song-radio -->

<!-- Start: @icon-set--songs -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-songs"></use>
</svg>
<!-- End: @icon-set--songs -->

<!-- Start: @icon-set--sort-channels -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-sort-channels"></use>
</svg>
<!-- End: @icon-set--sort-channels -->

<!-- Start: @icon-set--sorting -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-sorting"></use>
</svg>
<!-- End: @icon-set--sorting -->

<!-- Start: @icon-set--speedtest -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-speedtest"></use>
</svg>
<!-- End: @icon-set--speedtest -->

<!-- Start: @icon-set--start-over -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-start-over"></use>
</svg>
<!-- End: @icon-set--start-over -->

<!-- Start: @icon-set--stop -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-stop"></use>
</svg>
<!-- End: @icon-set--stop -->

<!-- Start: @icon-set--stop2 -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-stop2"></use>
</svg>
<!-- End: @icon-set--stop2 -->

<!-- Start: @icon-set--streaming -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-streaming"></use>
</svg>
<!-- End: @icon-set--streaming -->

<!-- Start: @icon-set--subtitles-dk -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-subtitles-dk"></use>
</svg>
<!-- End: @icon-set--subtitles-dk -->

<!-- Start: @icon-set--subtitles -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-subtitles"></use>
</svg>
<!-- End: @icon-set--subtitles -->

<!-- Start: @icon-set--supports -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-supports"></use>
</svg>
<!-- End: @icon-set--supports -->

<!-- Start: @icon-set--tablet -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-tablet"></use>
</svg>
<!-- End: @icon-set--tablet -->

<!-- Start: @icon-set--text-tv -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-text-tv"></use>
</svg>
<!-- End: @icon-set--text-tv -->

<!-- Start: @icon-set--tips -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-tips"></use>
</svg>
<!-- End: @icon-set--tips -->

<!-- Start: @icon-set--trailer -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-trailer"></use>
</svg>
<!-- End: @icon-set--trailer -->

<!-- Start: @icon-set--tv-film -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-tv-film"></use>
</svg>
<!-- End: @icon-set--tv-film -->

<!-- Start: @icon-set--tv-guide -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-tv-guide"></use>
</svg>
<!-- End: @icon-set--tv-guide -->

<!-- Start: @icon-set--tv -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-tv"></use>
</svg>
<!-- End: @icon-set--tv -->

<!-- Start: @icon-set--unlock -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-unlock"></use>
</svg>
<!-- End: @icon-set--unlock -->

<!-- Start: @icon-set--update -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-update"></use>
</svg>
<!-- End: @icon-set--update -->

<!-- Start: @icon-set--upload -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-upload"></use>
</svg>
<!-- End: @icon-set--upload -->

<!-- Start: @icon-set--video-guide -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-video-guide"></use>
</svg>
<!-- End: @icon-set--video-guide -->

<!-- Start: @icon-set--voice -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-voice"></use>
</svg>
<!-- End: @icon-set--voice -->

<!-- Start: @icon-set--volume-1 -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-volume-1"></use>
</svg>
<!-- End: @icon-set--volume-1 -->

<!-- Start: @icon-set--volume-2 -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-volume-2"></use>
</svg>
<!-- End: @icon-set--volume-2 -->

<!-- Start: @icon-set--volume-3 -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-volume-3"></use>
</svg>
<!-- End: @icon-set--volume-3 -->

<!-- Start: @icon-set--voucher -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-voucher"></use>
</svg>
<!-- End: @icon-set--voucher -->

<!-- Start: @icon-set--yousee-cloud -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-yousee-cloud"></use>
</svg>
<!-- End: @icon-set--yousee-cloud -->

<!-- Start: @icon-set--yousee-more -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-yousee-more"></use>
</svg>
<!-- End: @icon-set--yousee-more -->

