

<div class="ys-input-field">
    <label class="ys-input-field__label">
        <span class="ys-input-field__label-text">Label for input</span>
        <span class="ys-input-field__wrapper">
            <span class="ys-input-field__icon">
                <svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icon-set.svg#ys-icon-set-mail"></use>
</svg>

            </span>
            <input type="text" class="ys-input-field__control" placeholder="Placeholder text" />
        </span>
    </label>
</div>

