

<div class="ys-input-field">
    <label class="ys-input-field__label">
        <span class="ys-input-field__label-text">Label for input</span>
        <span class="ys-input-field__wrapper ys-input-field__wrapper--error">
            <input type="text" class="ys-input-field__control" placeholder="Placeholder text" value="Invalid input" aria-labelledby="input-guidance-id" />
            <span class="ys-input-field__icon ys-input-field__icon--invalid">
                <svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/ui-icons.svg#ys-ui-icons-exclamation-mark"></use>
</svg>

            </span>
        </span>
    </label>
    <p class="ys-input-field__guidance ys-input-field__guidance--error" id="input-guidance-id">Guidance message for input field</p>
</div>

