

<div class="ys-notification">
    <span class="ys-notification__icon" aria-hidden="true">
        <svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/ui-icons.svg#ys-ui-icons-exclamation-mark"></use>
</svg>

    </span>
    <div class="ys-notification__content">
        <p class="ys-notification__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. <a href="#" class="ys-notification__inline-link">Link titel her</a> </p>
    </div>
</div>

