

<!-- Start: @ui-icons--default -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/ui-icons.svg#ys-ui-icons-arrow-down"></use>
</svg>
<!-- End: @ui-icons--default -->

<!-- Start: @ui-icons--arrow-left -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/ui-icons.svg#ys-ui-icons-arrow-left"></use>
</svg>
<!-- End: @ui-icons--arrow-left -->

<!-- Start: @ui-icons--arrow-right -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/ui-icons.svg#ys-ui-icons-arrow-right"></use>
</svg>
<!-- End: @ui-icons--arrow-right -->

<!-- Start: @ui-icons--arrow-up -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/ui-icons.svg#ys-ui-icons-arrow-up"></use>
</svg>
<!-- End: @ui-icons--arrow-up -->

<!-- Start: @ui-icons--check-mark -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/ui-icons.svg#ys-ui-icons-check-mark"></use>
</svg>
<!-- End: @ui-icons--check-mark -->

<!-- Start: @ui-icons--erase -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/ui-icons.svg#ys-ui-icons-erase"></use>
</svg>
<!-- End: @ui-icons--erase -->

<!-- Start: @ui-icons--exclamation-mark -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/ui-icons.svg#ys-ui-icons-exclamation-mark"></use>
</svg>
<!-- End: @ui-icons--exclamation-mark -->

<!-- Start: @ui-icons--eye-closed -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/ui-icons.svg#ys-ui-icons-eye-closed"></use>
</svg>
<!-- End: @ui-icons--eye-closed -->

<!-- Start: @ui-icons--eye-open -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/ui-icons.svg#ys-ui-icons-eye-open"></use>
</svg>
<!-- End: @ui-icons--eye-open -->

<!-- Start: @ui-icons--multiplication -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/ui-icons.svg#ys-ui-icons-multiplication"></use>
</svg>
<!-- End: @ui-icons--multiplication -->

<!-- Start: @ui-icons--plus -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/ui-icons.svg#ys-ui-icons-plus"></use>
</svg>
<!-- End: @ui-icons--plus -->

